<header class="hero" role="banner">
  <section class="wrap-container">
    <%= svg_tag "logo.svg", class: "hero-logo" %>

    <h2 class="hero-headline">
      <% if content == "home" %>
        Build powerful static websites with <br>
        a ready-to-use template
      <% elsif content == "404" %>
        🤔 <br>
        There is nothing here
      <% end %>
    </h2>

    <h3 class="hero-description">
      <% if content == "home" %>
        <code>middleman-webpack</code> is a template that will help you <br>
        bootstrap your Middleman projects.
      <% elsif content == "404" %>
        Find this page in <code>source/404.html.erb</code> and check <br>
        how the component <code>_hero.html.erb</code> is used dinamically.
      <% end %>
    </h3>

    <div class="browser">
      <div class="browser-body">
        <code class="browser-code">
          <span class="variable">$</span>
          <span class="content"></span>
        </code>
      </div>
      <%= link_to "Current version: #{data.site.version}", "https://github.com/gabrielecanepa/middleman-webpack", class: "version-number", target: "_blank" %>
    </div>
  </section>
</header>
