<header class="hero" role="banner">
  <section class="wrap-container">
    <%= svg_tag "logo.svg", alt: "Middleman webpack", class: "hero-logo" %>

    <h2 class="hero-headline">
      <% if content == "home" %>
        Build powerful websites <br> with a ready-to-use template
      <% elsif content == "404" %>
        🤔 <br> There is nothing in here
      <% end %>
    </h2>

    <h3 class="hero-description">
      <% if content == "home" %>
        <code>middleman-webpack</code> is a Middleman template <br> that will help you bootstrap your static projects.
      <% elsif content == "404" %>
        You can find this page in <code>/source/404.html.erb</code> <br> and see how the component <code>_hero.html.erb</code> is used dinamically.
      <% end %>
    </h3>

    <div class="browser">
      <div class="browser-body">
        <code class="browser-code">
          <span class="variable">$</span>
          <span class="content"></span>
        </code>
      </div>
      <%= link_to "Current version: 0.0.1", "https://github.com/gabrielecanepa/middleman-webpack", class: "version-number", target: "_blank" %>
    </div>
  </section>
</header>
