<% link_to data.tools[tool].website, class: "language-card", "data-tippy": data.tools[tool].description do %>
  <%= image_tag "#{tool.downcase}.svg", class: "language-logo" %>
  <h3><code><%= tool %></code></h3>
<% end %>
