<nav class="navbar">
  <%= link_to "Middleman webpack", "./", class: "navbar-link site-name" %>

  <div class="navbar-right">
    <%= link_to "About", "/about.html", class: "navbar-link" %>
    <%= link_to "GitHub", data.site.repository, class: "navbar-link" %>
    <%= link_to "Middleman documentation", "https://middlemanapp.com/basics/install", target: "_blank", class: "navbar-link" %>
  </div>
</nav>
