.about {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-grow: 1;
  code {
    display: block;
    padding: 2em;
    background: rgba($gray-light, 0.25);
    border: $gray-light;
    border-radius: 3px;
  }
}
