section.home {
  padding: 1em 0;
  text-align: center;

  h1 {
    margin: 1em 0;
  }
  .tool {
    margin: 2em 0;
  }
  .home-buttons {
    margin: 1em;
  }
  .btn {
    font-size: 1.1rem;
    margin: 1em 0.5em;
  }
}

@include media-breakpoint-down(sm) {
  section.home {
    .home-secondary { display: none }
    .home-buttons { margin-top: 2em }
  }
}
