h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 0.5em;
}
a {
  text-decoration: none;
  transition: all 0.1s linear;
  &:focus { outline: none; }
}
*::selection {
  background: $yellow;
  color: white;
}
