$white:         #FDFDFD;
$white-dark:    #F9F9F9;
$gray-light:    #DEDEDE;
$gray:          #7D8B99;
$gray-dark:     #4A4E56;
$black:         #303238;

$red:           #C92C2C;
$green:         #28A745;
$green-darker:  #218838;
$blue-light:    #1990B8;
$blue:          #0366D6;
$yellow:        #FBC547;
$gold:          #D58900;
$sand:          #A67F59;
