$black: #303238;
$gray: #4A4E56;
$gray-light: #DEDEDE;
$white-dark: #F9F9F9;
$white: #FDFDFD;

$red: #C92C2C;
$green: #28A745;
$green-dark: #218838;
$blue-light: #1990B8;
$blue: #4280CA;
$blue-dark: #3067A9;
$yellow: #FBC547;
