$font-family-base: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/fonts" !default;
$icomoon-yml: "\e908";
$icomoon-middleman: "\e901";
$icomoon-json: "\e902";
$icomoon-javascript: "\e903";
$icomoon-git: "\e904";
$icomoon-html: "\e905";
$icomoon-css: "\e906";
$icomoon-ruby: "\e907";
$icomoon-github: "\e900";


