code, pre {
  font-family: $font-family-monospace;
  font-size: 1em;
}
code[class*="language-"],
pre[class*="language-"] {
  color: $black;
  background: $white-dark;
  text-align: left;
  hyphens: none;
}
pre[class*="language-"] {
  position: relative;
  overflow: visible;
  white-space: normal;
  padding: 1em 1.5em 2em;
  margin: 1.5em 0 1.6em;
  border-radius: 0.3em;
  > code {
    position: relative;
    white-space: pre-line;
  }
}
code[class*="language"] {
  padding: 0 1em;
  display: block;
  overflow: auto;
}
code.language-bash {
  display: inline-block;
  &::before {
    content: "$";
    position: absolute;
    top: 1.3em;
    left: 0;
    color: $gray;
  }
}
:not(pre) > code[class*="language-"] {
  position: relative;
  padding: .2em;
  border-radius: 0.3em;
  color: $red;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: inline;
}
:not(pre) > code:focus {
  outline: none;
}
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $gray;
}
.token.punctuation {
  color: $gray-dark;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
  color: $red;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
  color: $green;
}
.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: $sand;
}
.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: $blue;
}
.token.regex,
.token.important {
  color: $yellow;
}
.language-css .token.string,
.style .token.string {
  color: $sand;
}
.token.important {
  font-weight: normal;
}
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
.namespace {
  opacity: .7;
}
.token.tab:not(:empty)::before,
.token.cr::before,
.token.lf::before {
  color: $white-dark;
}
// Override default button style
.code-toolbar .toolbar {
  top: .8em !important;
  right: .7em !important;
  a { border-left: none !important; }
  a, button, span {
    color: $gray-dark !important;
    font-size: .8em !important;
    padding: 1em !important;
    background: $white !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: none !important;
    border-radius: 1px !important;
    font-weight: 600 !important;
    &:focus { outline: none; }
  }
  .toolbar-item:first-child button {
    border-right-width: 0 !important;
  }
}
