code, pre {
  font-family: $font-family-monospace;
  font-size: 1em;
  position: relative;
}
:not(pre) > code {
  padding: 0.2em;
  border-radius: 0.3em;
  display: inline;
  &:focus { outline: none}
}
:not(pre) > code[class*="language-"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: $red;
}

.highlight-syntax {
  color: $black;
  background: $white-dark;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: scroll;
  padding: 1.5em 2em;
  margin: 1.5em 0;
  border-radius: 0.3em;

  .c   { color: $gray } // Comment
  .err { color: $gray-dark } // Error
  .g   { color: $gray-dark } // Generic
  .k   { color: $green-dark } // Keyword
  .l   { color: $gray-dark } // Literal
  .n   { color: $gray-dark } // Name
  .o   { color: $green-dark } // Operator
  .x   { color: $orange } // Other
  .p   { color: $gray-dark } // Punctuation
  .cm  { color: $gray } // Comment multiline
  .cp  { color: $green-dark } // Comment preproc
  .c1  { color: $gray; } // Comment single
  .cs  { color: $green-dark } // Comment special
  .gd  { color: $blue-light } // Generic deleted
  .ge  { color: $gray-dark; font-style: italic } // Generic emphasis
  .gr  { color: $red } // Generic error
  .gh  { color: $orange } // Generic heading
  .gi  { color: $green-dark } // Generic inserted
  .go  { color: $gray-dark } // Generic output
  .gp  { color: $gray-dark } // Generic prompt
  .gs  { color: $gray-dark; font-weight: bold } // Generic strong
  .gu  { color: $orange } // Generic subheading
  .gt  { color: $gray-dark } // Generic traceback
  .kc  { color: $orange } // Keyword constant
  .kd  { color: $blue } // Keyword declaration
  .kn  { color: $green-dark } // Keyword namespace
  .kp  { color: $green-dark } // Keyword pseudo
  .kr  { color: $blue } // Keyword reserved
  .kt  { color: $red } // Keyword type
  .ld  { color: $gray-dark } // Literal date
  .m   { color: $blue-light } // Literal number
  .s   { color: $blue-light } // Literal string
  .na  { color: $gray-dark } // Name attribute
  .nb  { color: $gold } // Name built-in
  .nc  { color: $blue } // Name class
  .no  { color: $orange } // Name constant
  .nd  { color: $blue } // Name decorator
  .ni  { color: $orange } // Name entity
  .ne  { color: $orange } // Name exception
  .nf  { color: $blue } // Name function
  .nl  { color: $gray-dark } // Name label
  .nn  { color: $gray-dark } // Name namespace
  .nx  { color: $gray-dark } // Name other
  .py  { color: $gray-dark } // Name property
  .nt  { color: $blue } // Name tag
  .nv  { color: $blue } // Name variable
  .ow  { color: $green-dark } // Operator word
  .w   { color: $gray-dark } // Text whitespace
  .mf  { color: $blue-light } // Literal number (float)
  .mh  { color: $blue-light } // Literal number (hex)
  .mi  { color: $blue-light } // Literal number (integer)
  .mo  { color: $blue-light } // Literal number (oct)
  .sb  { color: $gray } // Literal string backtick
  .sc  { color: $blue-light } // Literal string character
  .sd  { color: $gray-dark } // Literal string doc
  .s2  { color: $blue-light } // Literal string double
  .se  { color: $orange } // Literal string escape
  .sh  { color: $gray-dark } // Literal string heredoc
  .si  { color: $blue-light } // Literal string interpololation
  .sx  { color: $blue-light } // Literal.String.Other
  .sr  { color: $red } // Literal string regex
  .s1  { color: $blue-light } // Literal string single
  .ss  { color: $blue-light } // Literal string symbol
  .bp  { color: $blue } // Name built-in pseudo
  .vc  { color: $blue } // Name variable class
  .vg  { color: $blue } // Name variable global
  .vi  { color: $blue } // Name variable instance
  .il  { color: $blue-light } // Literal number (long integer)

  &.plaintext code { color: $gray-dark }
}
