.section-tools {
  padding: 1em 0;
  text-align: center;

  h1 {
    margin: 1em 0;
  }
  .tool {
    margin: 2em 0;
  }
  .section-tools-buttons {
    margin: 1em;
  }
  .btn {
    font-size: 1.1rem;
    margin: 1em 0.5em;
  }
}

@include media-breakpoint-down(sm) {
  .section-tools {
    .section-tools-secondary { display: none }
    .section-tools-buttons { margin-top: 2em }
  }
}
