---
title: About
---

<main class="about">
  <div class="container">
    <h1>Installation</h1>
    <p>This is a part of the documentation</p>
    <hr>
    <pre><code>test code</code></pre>
  </div>
</main>
