---
title: About
layout: docs
---

<main class="about">
  <div class="container">
    <h1>Installation</h1>
    <p>This is a part of the documentation</p>
    <hr>
    <pre data-label="show-ruby">
      <code class="language-ruby">
      number = 0
      numbers.each do |number|
        puts number
      end
      </code>
    </pre>

    <pre data-label="show-javascript">
      <code class="language-javascript">
      import "./components/prism";
      import "./components/tippy";
      import browserType from "./components/typed";
      </code>
    </pre>

    <% ["CSS", "ERB", "Ruby", "JavaScript", "JSON", "YAML"].each do |language| %>
      <template id="show-<%= language.downcase %>">
        <button>
          <%= language %> <i class="icomoon-<%= language.downcase %>"></i>
        </button>
      </template>
    <% end %>
  </div>
</main>

